.App {
  text-align: center;
  
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.App-title {
  font-size: 1.5em;
}

.Gallery-list-container {
  margin-top: 150px;
}

img {
  max-width: 300px;
  max-height: 300px;
  border: solid black 5px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
